.book {
    /* height: 70%; */
}

.book .description {
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* max-height: 50%; */
    /* text-overflow: ellipsis; */
}

.title {
    font-size: large;
    font-weight: bolder;
}

.author {
    font-style: italic;    
}

.rating {
    font-size: x-small;
}