<div>
  <h2>Login</h2>

  <form autocomplete="off" (ngSubmit)="login()" [formGroup]="loginForm" fxLayoutAlign="center" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="username" [formControl]="usernameFormControl">
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        user name is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="password" minlength="8" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
        password is too short
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('complexity')">
        password should contain at least one of the following characters: @|=$
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Go</button>
  </form>
</div>