<div fxLayout="column" fxLayoutAlign="start|center|end" fxFlex="100%">
    <div #header [ngClass]="'header'" fxFlex="20%">
        <mat-toolbar>
            <span [ngClass]="['title']" fxFlex>{{ title }}</span>
            <mat-icon>search</mat-icon>
        </mat-toolbar>
    </div>

    <div [ngClass]="'content'" fxLayout="column" fxFlex="80%">
        <lorgnette-scanner fxFlex #scanner></lorgnette-scanner>
        <lorgnette-book-detail fxFlex [book]="book | async"></lorgnette-book-detail>
        <button fxFlex mat-raised-button color="primary" [routerLink]="['/books-to-read/', { isbn: isbn, add: true}]">
            Put on my Shelve
        </button>
    </div>

    <div [ngClass]="'footer'" fxFlex>
        <mat-toolbar>
            <mat-icon fxLayoutAlign="center" fxFlex="1 1 auto" svgIcon='lorgnette'></mat-icon>
            <mat-icon fxLayoutAlign="center" fxFlex="1 1 auto">local_library</mat-icon>
            <mat-icon fxLayoutAlign="center" fxFlex="1 1 auto">person</mat-icon>
        </mat-toolbar>
    </div>
</div>