.content {
    padding: 10%;
    border: 1px solid blue;
    overflow: hidden;
}

lorgnette-book-detail {
    border: 1px solid red;
}

mat-toolbar .title {
    font-family: 'Great Vibes', cursive;
    font-size: xx-large;
}
